notebook
langchain
langchain-openai
langchain-google-genai
langchain-ollama
langchain-huggingface
langchain-community
langchain-chroma
datasets
tqdm
ipywidgets
kagglehub
sentence-transformers
gradio
pypdf
unstructured
python-docx
msoffcrypto-tool
openpyxl
chromadb
geopy
mcp
langchain-mcp-adapters